<div class="home-background">
  <app-nav-bar></app-nav-bar>
  <div class="home-content">
    <h1>Unlimited movies, TV shows, and more.</h1>
    <h2>Watch anywhere. Cancel anytime.</h2>
    <p>Ready to watch? Enter your email to create or restart your membership.</p>
    <form class="email-form">
      <input type="email" placeholder="Email address" required>
      <button type="submit" routerLink="/movies">Get Started &gt;</button>
    </form>
  </div>
</div>
<app-tv></app-tv>
<app-download></app-download>
<app-platforms></app-platforms>
<app-kids></app-kids>
<app-faq></app-faq>