.home-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 3;
}

.logo {
  width: 120px;
}

.sign-in-button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span { 
  margin-right: 10px;
  font-size: 30px;
  color: #e50914;
}

.sign-out-button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}
